{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Narottam  Aswal</title>
    <link rel="icon" href="{% static 'css/favicon.ico' }" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
	
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img class="border border-success" id="profile-pic" src="{% static 'images/profilepic2.jpg' %}" />
                <h5>Narottam Aswal </h5> <hr>
                <p>I Love Coding, Doing Research And Collaborating.</p>
 <h4>Connect</h4>
<ul class="social-links">
                    <a href="mailto:narottam98678@gmail.com" ><li><img class="social" src="{% static 'images/mail.png' %}"></li></a>
                    <a href="https://www.linkedin.com/in/narottam-aswal/" ><li><img class="social" src="{% static 'images/linkedin.jpg' %}"></li></a>
                    <a href="http://github.com/narottamaswal/" ><li><img class="social" src="{% static 'images/git.png'%}"></li></a>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card card-body h-100 border-info">
                <h4>About Me</h4> <hr>
             <p>
                   Hi! This is Narottam Aswal. I'm from Mumbai, India and soon to be 21 years of age. I'm currently pursuing my MCA degree from Mumbai University. I'm an aspiring full stack developer who loves to learn and create new things and a result-oriented professional willing to work as a software engineer in a globally reputed company. 
          </p>
                <p>For me knowledge is the only thing that can make you rich.
But I feel the worst when a person lacks the resources to learn something or does not have those resources. This is my only dream and aim, that I look up to for the next few years to contribute back to society with the vision that IT gave me.</p>

                <p>Quote of my life :  <q><i><b>Acceptance is the first step towards improvement.</b></i></q> </p>
<p>Download CV :  <a href="https://drive.google.com/file/d/1VTiACiGaAK2D5asdcQz9icu1mmPr8Cvl/view?usp=sharing " ><img class="social" src="{% static 'images/download.jpg' %}"></a></p> 

            </div>
        </div>
    </div>
<br>

  
      <div class="row">
        <div class="col-lg-12">
      
      <div class="card card-body h-40" >
                <h4>Projects</h4>
                <hr>
<div class="row">
<div class="col-lg-4">
<div class="card card-body h-10" style="background-color:#ebd7d3;">
<h5><b>Job Portal</b></h5>  <p> Technologies: Django, Bootstrap, Scrapy, MySQL</p><a href="https://github.com/narottamaswal/Job-Portal-Django-" ><li><img class="social" src="{% static 'images/git.png' %}"></li></a>

</div>
</div>
<div class="col-lg-4">
<div class="card card-body h-10" style="background-color:#ebe3d3;">
<h5><b>Social Media App with AI </b></h5> <p> Technologies: React Native, Firebase, Python, Deep Learning</p><a href="https://github.com/narottamaswal/Social-Media-App-with-Data-Science" ><li><img class="social" src="{% static 'images/git.png' %}"></li></a>

</div>
</div>
<div class="col-lg-4">
<div class="card card-body h-10" style="background-color:#d3ebd9;">
<h5><b>Events Management</b></h5> <p> Technologies: Django, Bootstrap, MySQL</p><a href="https://github.com/narottamaswal/VESIT-Events-Management-VESIT-HACKS" ><li><img class="social" src="{% static 'images/git.png' %}"></li></a>

</div>
</div></div>
<br>
<div class="row">
<div class="col-lg-4">
	<div class="card card-body h-10" style="background-color:#ededed;">
<h5><b>Documents SPA</b></h5>  <p> Technologies: Spring, Spring Boot, Bootstrap, MySQL</p><a href="https://github.com/narottamaswal/DocumentsSPA" ><li><img class="social" src="{% static 'images/git.png' %}"></li></a>

</div></div>
<div class="col-lg-4">
		<div class="card card-body h-10" style="background-color:#d3e6eb;">
	<h5><b>Portfolio Website</b></h5> <p> Technologies: Django, Bootstrap, Scrapy, MySQL</p>
<li><a href="https://github.com/narottamaswal/Portfolio-Website" >
<img class="social" src="{% static 'images/git.png' %}"></a>&nbsp;&nbsp;<a href="http://narottamaswal.herokuapp.com/" ><img class="social" src="{% static 'images/web.jpg' %}"></a></li>
</div></div>
<div class="col-lg-4">
		<div class="card card-body h-10" style="background-color:#ddd1de">
<h5><b>Tasks Management App With Gestures</b></h5> <p> Technologies: React Native, Firebase</p><a href="https://github.com/narottamaswal/TaskManagementApp-ReactNative" ><li><img class="social" src="{% static 'images/git.png' %}"></li></a>




</div>
</div>



</div>
</div>
</div></div>
<br>   

 <div class="row">
        <div class="col-lg-6">
            <div class="card card-body h-80">
                <h4>Education</h4> <hr>

                <table  border="0.5px solid ">
<b>Masters of Computer Applications (MCA)</b>
Vivekananda Education Society's Institute of Technology
<p>2020-2022</p>
<b>Bachelor of Science in Information Technology (B.Sc-IT)</b>
D.G. Ruparel College of Arts, Science and Commerce<p>2017-2020</p>
			<b>HSC (Maharashtra State Board)</b>R. D. National & W. A. Science College<p>2015-2017</p>
                                    </table>
<hr>
                <h6>Certifications</h6>
                <ul>
                    <li>
			    Programming, Data Structures and Algorithms with Python (NPTEL)
                    </li><br>

                    <li>
                        Maharashtra State Certificate Of Information Technology (MSC-IT)
                    </li><br>
                    <li>
			    IT-Genius (State Level Competition)
                    </li>

                </ul>


            </div>
        </div>





        <div class="col-lg-6">
            <div class="card card-body h-100">
                <h4>What I Know</h4> <hr>
<p><b>Languages</b></p>
                                                     
<td>
<tr>
<ul><li>
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Java</span>&nbsp;

<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Python</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">C/C++</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Node.js</span>
</li>
</ul></li>


           </tr>

<tr>
<p><b>Frameworks</b></p>
<ul><li>
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">React Native</span>&nbsp;

<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Django</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Spring</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Spring Boot</span>
</li>
</ul>


                    </tr>
<tr>
<p><b>Web Development</b></p>

<ul><li>

<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">MERN Stack</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">React.js</span>&nbsp;

<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">HTML</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">CSS</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Javscript</span>&nbsp;
</li>
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Bootstrap</span>
</ul></li>

<p><b>Databases</b></p>
<ul><li>

<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">MySQL</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">SQL Server</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Firebase</span>&nbsp;
<span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Mongo DB</span>&nbsp;

                    </tr>                <hr>
                <h6>Other Skills</h6>
	 <span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Data Structures and Algorithms</span>&nbsp;
	 <span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">Git</span>&nbsp;
	 <span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">JSON</span>&nbsp;
	 <span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">XML</span>&nbsp;
	 <span style="padding: 5px; border: 0.5px solid black;background-color:#ededed;">REST</span>&nbsp;
	 


            </div>
        </div>
    </div>

        </div>
    </div>
</div>
<br>
</body>
</html>
